.error404 {
  text-align: center;

  &__container {
    @include row()
  }

  &__title {
    min-height: 10em;
    //noinspection CssUnknownTarget,CssUnknownTarget
    background: url("../images/404-img.jpg") 50% 0% no-repeat;
    padding-top: 9em;
    margin-bottom: 1em;
  }

  &__link {
    @include button('ghost')
  }
}
