.page-content,
.archive-content {
  @include more();
  @include firstCoverBlock();
  margin-top: 0;

  @include breakpoint($large) {
    padding-left: 0;
  }
}

.page-content {
  padding-bottom: 0;
  margin-bottom: 0;
}

.post-type-archive-freelance,
.post-type-archive-speaker{
  .entry-archive{
    h1{
      text-align: center;
    }
    .archive-content{
      padding-top: 0;
      &:before{
        display: none;
      }
    }
  }
}
