@mixin filter() {
  padding: 7px 12px;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
}

@mixin label($color: $red) {
  color: $white;
  padding: 0 8px;
  font-size: 12px;
  line-height: 24px;
  border-radius: 3px;
  font-weight: normal;
  background-color: $color;

  @if ($color == $yellow) {
    color: $black;
  }
}

.tax-freelance_service,
.post-type-archive-freelance {
  .content {
    @include more();

    @include breakpoint($large) {
      padding-left: 0;
    }
  }

  h1 {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    @include breakpoint($medium) {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @include breakpoint($large) {
      margin-top: 70px;
      margin-bottom: 70px;
    }
  }

  .freelance {
    $this: &;
    //@include more-entry();
    position: relative;
    background-color: $white;
    width: 100%;
    padding: $gutterSmall;
    margin: $gutterSmall/2 0;
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-column-gap: $gutterSmall;
    grid-template-rows: repeat(3, auto);
    font-size: 13px;
    line-height: 18px;
    box-shadow: 1px 2px 4px rgba($veryHardBlue, 0.2);

    @include breakpoint($medium) {
      margin: $gutterMedium/2 0;
      padding: $gutterMedium;
    }

    @include breakpoint($large) {
      margin: $gutterLarge/2 0;
      padding: $gutterLarge;
    }

    img {
      align-self: start;
      grid-column: 1/span 1;
      grid-row: 1/-1;
    }

    &__meta {
      grid-row: 1/1;
      grid-column: span 1/-1;
      align-self: center;
      justify-self: end;
      display: flex;
      list-style: none;
      padding: 0;
      margin: -10px -10px 0 0; // Because of padding inside link

      a {
        padding: 10px;
        display: block;
        font-size: 0;
        line-height: 1;
        color: $red;
      }
    }

    &-services {
      display: flex;
      list-style: none;
      width: 100%;

      a {
        @include button('ghost');
        @include filter();

        display: block;
        margin: 0;
        color: $black;
        background-color: $white;
        transform: none;
        transition: color 0.3s $easeInOutQuart,
          background-color 0.3s $easeInOutQuart;

        &:hover,
        &:focus,
        &:active {
          color: $white;
        }
      }

      &__item {
        $c: &;

        @include button();
        @include filter();

        padding: 0;
        margin: 0 5px;
        cursor: auto;
        transform: translateY(0);
        background-color: transparent;

        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
        }

        &:first-child {
          margin-left: 0;
          background-color: $gray;

          &:hover,
          &:focus,
          &:active {
            background-color: $gray;
          }
        }

        &:first-child,
        &--current {
          padding: 7px 12px;
        }

        a {
          border-color: map-get($themesColors, "divers");

          &:hover,
          &:focus,
          &:active {
            background-color: map-get($themesColors, "divers");
          }
        }

        &--all {
          background-color: transparent;
          padding: 0;

          a {
            border-color: $gray;

            &:hover,
            &:focus,
            &:active {
              background-color: $gray;
            }
          }
        }

        &--design {
          a {
            border-color: map-get($themesColors, "design");

            &:hover,
            &:focus,
            &:active {
              background-color: map-get($themesColors, "design");
            }
          }

          &.freelance-services__item--current {
            background-color: map-get($themesColors, "design");
          }
        }

        &--business {
          a {
            border-color: map-get($themesColors, "business");

            &:hover,
            &:focus,
            &:active {
              background-color: map-get($themesColors, "business");
            }
          }

          &.freelance-services__item--current {
            background-color: map-get($themesColors, "business");
            //color: $black;
          }
        }

        &--tech {
          a {
            border-color: map-get($themesColors, "tech");

            &:hover,
            &:focus,
            &:active {
              background-color: map-get($themesColors, "tech");
            }
          }

          &.freelance-services__item--current {
            background-color: map-get($themesColors, "tech");
          }
        }

        &--all:first-child {
          background-color: transparent;
          padding: 0;

          a {
            border-color: $gray;

            &:hover,
            &:focus,
            &:active {
              background-color: $gray;
            }
          }
        }

        &.freelance-services__item--current {
          background: map-get($themesColors, "divers");
        }
      }
    }

    &__name {
      grid-row-start: 1;
      grid-column: 1/-1;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      font-weight: normal;
    }

    &__attendee {
      margin: 0;
      display: flex;
      align-items: center;
      color: $green;
      position: absolute;
      bottom: $gutterSmall;
      right: $gutterSmall;
      font-weight: bold;

      @include breakpoint($medium) {
        bottom: $gutterMedium;
        right: $gutterMedium;
      }

      @include breakpoint($large) {
        bottom: $gutterLarge;
        right: $gutterLarge;
      }

      &::before {
        @include materialIcons();

        content: "check";
        font-size: 18px;
        transform: translateY(-1px);
        margin-right: 5px;
      }
    }

    &__phone,
    &__email {
      align-self: start;
      justify-self: start;
      grid-column-start: span 1;
      grid-row-start: 2;
      display: inline-block;
      padding-bottom: 10px;

      &::before {
        @include materialIcons();

        font-size: 18px;
        line-height: 1;
        color: $softGray;
        transform: translateY(0.2em);
        margin-right: 5px;
      }
    }

    &__email::before {
      content: "mail";
    }

    &__phone::before {
      content: "phone";
    }

    &__service {
      @include label(map-get($themesColors, "divers"));

      justify-self: start;
      grid-column: 1/span 1;
      grid-row-start: 3;

      &--design {
        @include label(map-get($themesColors, "design"));
      }

      &--business {
        @include label(map-get($themesColors, "business"));
      }

      &--tech {
        @include label(map-get($themesColors, "tech"));
      }
    }

    &__url a::before {
      @include materialIcons();

      content: "public";
      font-size: 18px;
    }

    &.has-post-thumbnail {
      grid-template-columns: 90px auto 1fr;

      .freelance__service,
      .freelance__email,
      .freelance__name {
        grid-column-start: 2;
      }

      .freelance__name {
        grid-column: 2/span 2;
      }
    }
  }
}
