.entry-home {
  @include row();
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include breakpoint($large) {
      flex-direction: row;
    }
  }

  .column {
    flex: 1 50%;
    padding-left: 1em;
    padding-right: 1em;
  }

  & > .wp-block-cover:first-child{

    @include breakpoint($medium){
      padding-top: 300px;
    }

    strong{
      @include h3();
      color: $white;
    }
  }
}

.home{

  .wp-block-cover,
  .wp-block-cover-image{
    background-color: transparent;
  }
}
