.live {
  .entry-home {
    .column p {
      text-align: center;

      iframe {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint("650px") {
          width: auto;
        }
      }
    }
  }
}
