@mixin contentElements(){

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  ul,
  ol,
  p,
  .wp-block-button {
    @include container(8);
  }

  blockquote {
    @include container(10);

    p {
      max-width: 100%;
    }
  }

  .wp-block-gallery{
    @include container(12);
  }
}

.entry-sponsor,
.entry-session,
.entry-team,
.entry-page,
.entry-archive,
.entry-home,
.entry-post {
  @include row();
}

.entry-post {
  @include firstCoverBlock();
  @include contentElements();
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @include breakpoint($medium) {
    margin-bottom: 50px;
  }

  @include breakpoint($large) {
    margin-bottom: 70px;
  }

  .wp-block-cover{
    margin-top: $minHeightContentDesktop * -1;

    h2{
      padding: 0;
      margin: 0;
      text-align: left;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  ol,
  ul,
  p {
    color: $black;
  }

  blockquote {
    max-width: 100%;
  }

  &__content {
    padding: 30px 0;
    padding-top: 0;
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol{
      &:first-child{
        margin-top: 30px;
      }
    }

    @include breakpoint($medium) {
      padding-bottom: 50px;
    }

    @include breakpoint($large) {
      //padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  @include contentElements();
}

.entry-home,
.entry-session,
.entry-speaker,
.entry-team,
.entry-sponsor,
.entry-page,
.entry-archive,
.entry-home,
.entry-single {
  @include firstCoverBlock();
  position: relative;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6{
    text-align: left;
    width: 100%;
  }

  @include contentElements();
}

.entry-sponsor {

  & &__title {
    text-align: center;
    max-width: 100%;
    width: 100%;
    margin-top: 30px;
  }

  &__logo {
    margin: 60px auto 0;

    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      max-height: 300px;
      width: auto;
      height: auto;

      @include breakpoint(300px) {
        max-width: 300px;
      }
    }
  }

}

.entry-speaker,
.entry-team {

  &__title {
    text-align: center;
    color: $black;
  }

  &__job {
    display: block;
    text-align: center;
    margin: 0;
    color: $blue;
    font-size: 16px;
    line-height: 24px;

    @include breakpoint($medium) {
      margin-top: -50px;
      margin-bottom: 50px;
    }

    @include breakpoint($large) {
      margin-top: -60px;
      margin-bottom: 60px;
    }
  }

  &.has-post-thumbnail {

    & > img {
      display: block;
      margin-left: auto;
      margin-right: auto;

      @include breakpoint($medium) {
        float: left;
        margin-right: col-calc(1);
        margin-left: col-calc(1);
        margin-top: 1em;
        width: col-calc(4);
        height: auto;
      }
    }

    @include breakpoint($medium) {

      .entry-team__content {
        float: left;
        width: col-calc(5);
      }
    }

    .entry-team__title {
      margin-bottom: 0;

      @include breakpoint($medium) {
        margin-bottom: 50px;
      }

      @include breakpoint($large) {
        margin-bottom: 70px;
      }
    }
  }
}

.single-session,
.single-speaker,
.single-team {

  .more {
    width: calc(100% + #{$gutterSmall});
    margin-left: -$gutterSmall;
    margin-right: -$gutterSmall;

    @include breakpoint($large) {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    &-title {
      padding-left: $gutterSmall;
      padding-right: $gutterSmall;

      @include breakpoint($large) {
        padding-left: 0;
      }
    }
  }
}
