.post-type-archive-speaker {
  h1 {
    /* width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    @include breakpoint($medium) {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @include breakpoint($large) {
      margin-top: 70px;
      margin-bottom: 70px;
    } */
  }

  .speaker {
    @include more-entry();

    width: 50%;
    margin-left: 0;
    margin-right: 0;

    @include breakpoint($medium) {
      width: 100% * 1 / 3;
    }

    @include breakpoint($large) {
      width: 25%;
    }
  }
}
