.post-type-archive-team {
  .content {
    @include more();

    @include breakpoint($large) {
      padding-left: 0;
    }
  }

  h1 {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    @include breakpoint($medium) {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @include breakpoint($large) {
      margin-top: 70px;
      margin-bottom: 70px;
    }
  }

  .team {
    @include more-entry();

    width: 50%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

    @include breakpoint($medium) {
      width: 100% * 1 / 3;
    }

    @include breakpoint($large) {
      width: 25%;
    }
  }
}
