.ticketing,
.billetterie {

  main.entry-home
  .video-container {
    padding: 0;
    margin: 0;
    height: auto;

    @include breakpoint($medium) {
      float: right;
      width: 50%;
      margin-left: 2 * $gutterMedium;
    }

    @include breakpoint($large) {
      width: 100% - $goldNumber;
      margin-left: 2 * $gutterLarge;
    }

    iframe {
      height: 455px;

      @include breakpoint($large) {
        height: 780px;
      }
    }
  }
}
