.archiveAttendee {
  &-title {
    width: 100%;
  }

  &-content {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  }

  &-list {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    list-style: none;

    @include media('>phone') {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-item {
    margin-bottom: 2em;
    text-decoration: none;
    color: inherit;

    @include media('>phone') {
      flex: 0 0 auto;
      width: 50%;
      padding-left: 1em;
      padding-right: 1em;
    }

    &-img {
      display: block;

      @include media('>phone') {
        padding-bottom: percentage(200/300);
        position: relative;

        img {
          width: auto;
          max-height: 100%;
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }

    // Underline title if has link
    &:not([href=""]) &-title {
      text-decoration: underline;
    }

    &-title {
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
