.blog-extract {
  position: relative;

  &__title {
    @include h2-bis();

    width: 100%;
    max-width: 100%;
    margin: 0;

    @include breakpoint($medium) {
      margin-left: $gutterMedium/2;
      margin-right: $gutterMedium/2;
    }

    @include breakpoint($large) {
      margin-left: $gutterLarge/2;
      margin-right: $gutterLarge/2;
    }
  }

  &__link {
    color: $red;
    line-height: 28px;

    @include breakpoint($medium) {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: $gutterMedium / 2;
      line-height: 42px;
    }

    @include breakpoint($large) {
      margin-right: 0;
      right: $gutterLarge / 2;
      line-height: 56px;
    }
  }
}

.blog-extract.more {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 100%;
  padding: 0;

  @include breakpoint($medium) {
    margin-left: -$gutterMedium / 2;
    width: calc(100% + #{$gutterMedium});
  }

  @include breakpoint($large) {
    //width: calc(100% + #{$gutterLarge * 2});
    margin-left: -$gutterLarge / 2;
    width: calc(100% + #{$gutterLarge});
    //width: 100vw;
    //max-width: $container + $gutterLarge;
  }

  .more-entry {
    @include breakpoint($medium) {
      width: 50%;
    }

    @include breakpoint($large) {
      width: 25%;
    }
  }
}

.blog-back-button {
  @include button('back'); 
  top: 0.5em;
}
