.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  background: $white;

  @media print {
    display: none;
  }

  @include breakpoint($medium) {
    margin-top: 50px;
  }

  @include breakpoint($large) {
    margin-top: 70px;
  }


  .wp-block-columns {
    flex-wrap: nowrap;
    margin-bottom: 0;
    flex-direction: column;
    @include breakpoint($medium) {
      flex-direction: row;
    }
  }

  .wp-block-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    @include breakpoint($large) {
      align-items: flex-start;
      padding-left: $gutterLarge;
      padding-right: $gutterLarge;
    }

    .footer-newsletter {
      //margin-left: $gutterSmall * -1 / 2;

      @include breakpoint($medium) {
        //margin-left: $gutterMedium * -1 / 2;
      }

      @include breakpoint($large) {
        margin-left: $gutterLarge * -1 / 2;
      }
    }

    &:last-child {
      margin-right: $gutterSmall * -1 / 2;

      @include breakpoint($medium) {
        margin-right: $gutterMedium * -1 / 2;
      }

      @include breakpoint($large) {
        margin-right: $gutterLarge * -1 / 2;
      }
    }
  }

  & &-newsletter {
    align-items: flex-start;
    padding-top: $gutterSmall * 2;
    padding-bottom: $gutterSmall * 2;

    @include breakpoint($medium) {
      padding-top: $gutterMedium * 2;
      padding-bottom: $gutterMedium * 2;
    }

    @include breakpoint($large) {
      padding-top: $gutterLarge * 2;
      padding-bottom: $gutterLarge * 2;
    }

    *:first-child {
      margin-top: 0;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $lightBlue;
    }

    h3 {
      margin-top: 0px;
    }

    p,
    label {
      color: $white;
    }

    [type="email"] {
      border: 2px solid #94d3f3;
      border-radius: 50px;
      background-color: transparent;
      color: #94d3F3;
    }

    [type="email"]::-webkit-input-placeholder {
      color: #94d3f3;
    }

    [type="email"]::-moz-placeholder {
      color: #94d3f3;
    }

    [type="email"]:-ms-input-placeholder {
      color: #94d3f3;
    }

    [type="email"]::placeholder {
      color: #94d3f3;
    }

    [type="checkbox"] {
      display: inline-block;

      & + label {
        display: inline-block;
      }
    }

    [type="submit"] {
      @include button();
      @include buttonHeaderFocus();
    }
  }
}

.sib_msg_disp {
  position: absolute;
  display: block;
  top: 88%;
}

.sib_loader {
  display: block;
  position: absolute;
  top: 77%;
  left: 280px;
}

.nav-footer,
.nav-historical {
  width: 100%;
  order: 10;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    @include breakpoint($medium) {
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  li {
    width: 50%;
    text-align: center;

    @include breakpoint($medium) {
      width: auto;
    }
  }

  a {
    display: block;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 18px;

    @include breakpoint($medium) {
      padding: 20px 15px;
    }
  }
}

.footer-post {
  @include more-entry();
  z-index: 10;
  margin-left: $gutterSmall * -1/2;
  margin-right: $gutterSmall * -1/2;
  margin-bottom: $gutterSmall * 2;
  width: auto;

  @include breakpoint($medium) {
    width: auto;
    margin-left: $gutterMedium * -1/2;
    margin-right: $gutterMedium * -1/2;
    margin-bottom: $gutterMedium * 2;
  }

  @include breakpoint($large) {
    margin-top: -165px;
    margin-left: $gutterLarge * -1/2;
    margin-right: $gutterLarge * -1/2;
    //margin-bottom: $gutterLarge * 2;
    margin-bottom: 45px;
  }

  &::before {
    color: $lightBlue;
    bottom: $gutterSmall / 2;

    @include breakpoint($large) {
      bottom: $gutterMedium / 2;
    }

    @include breakpoint($large) {
      bottom: $gutterLarge / 2;
    }
  }

  & &__title {
    @include p();
    text-align: left;
    display: block;
    padding: 20px 0 0;
    color: $lightBlue;
    text-decoration: underline;

    &:hover,
    &:focus {
    }

    &::after {
      background-color: $veryHardBlue;
    }
  }
}

@mixin navFooter() {
  display: flex;
  justify-content: center;

  @include breakpoint($large) {
    justify-content: flex-start;
  }
}

.nav-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  background: $hardBlue;
  padding: 30px 0;

  @include breakpoint($large) {
    margin-top: 165px;
    flex-direction: row;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    background-color: $hardBlue;
    z-index: -1;
  }

  .nav-footer-content {
    @include container(12);
  }

  ul {
    justify-content: flex-start;
    margin: 25px -15px $gutterSmall * 2;

    @include breakpoint($medium) {
      margin-bottom: $gutterMedium * 2;
    }

    @include breakpoint($large) {
      margin-bottom: $gutterLarge * 2;
    }
  }

  a {
    color: $white;
  }

  &__logo {
    @include navFooter();
    margin: 0;
    color: $white;
    align-items: center;
    flex-wrap: wrap;
    line-height: 30px;

    img {
      display: inline-block;
      width: 198px;
      height: auto;
      margin: 0;
      margin-right: .6em;
    }

    figcaption {
      @include navFooter();
      width: 100%;
      color: $lightBlue;
      flex-direction: column;
      text-align: center;
      @include breakpoint($medium) {
        flex-direction: unset;
      }
    }

    a {
      display: inline;
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      padding: 0;
      margin-left: .3em;
    }
  }

  & &__text {
    @include row();
    margin-top: 0;
    font-size: 22px;
    line-height: 27px;
    color: $lightBlue;
    display: block;
    width: auto;

    a {
      display: inline-block;
      color: $lightBlue;
      padding: 0;
      font-size: 22px;
      line-height: 27px;
      margin-left: .3em;
    }
  }
}

.nav-historical {
  background-color: $veryHardBlue;

  a {
    color: $lightBlue;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
