$triggerWidth: 21px !default;
$triggerHeight: 2px !default;
$triggerSpace: $triggerWidth / 3 !default;
$triggerDuration: 0.4s !default;
$triggerBgColor: $black !default;
$triggerColor: $white !default;

.menu-toggle {
  @include button('ghost', $white);
  @include buttonHeaderFocus($white);
  //pointer-events: auto;
  //display: block;
  //position: fixed;
  //top: $heightTicketingButton * 2;
  //right: $gutterSmall;
  background: rgba($black,.2);
  transform: translateY(0);
  margin-bottom: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  z-index: 920;
  box-sizing: content-box;
  transition: border 0.3s $easeInOutQuart, background 0.3s $easeInOutQuart, color 0.3s $easeInOutQuart, box-shadow 0.4s $easeInOutQuart;

  @include breakpoint($medium){
    padding: 15px 32px;
    margin-left: 10px;
    width: auto;
    height: auto;
  }

  &__text {
    //position: absolute;
    //top: 50%;
    //margin-top: -5px;
    //left: $triggerWidth + $triggerWidth/2;
    //transform: translateY(-50%);
    //font-size: 10px;
    //line-height: 13px;
    //color: $white;
    //transition: color 0.3s $easeInOutQuart;
    display: none;

    @include breakpoint($medium){
      display: block;
    }
  }

  &__hamburger {
    position: relative;
    display: block;
    width: $triggerWidth;
    height: $triggerHeight;
    background-color: $triggerColor;
    top: 0;
    animation: hamburgerMiddleAnimationReverse $triggerDuration $easeInOutQuart forwards;

    @include breakpoint($medium){
      left: $triggerWidth / -2;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: $triggerWidth;
      height: $triggerHeight;
      background-color: $triggerColor;
      transform: translateY(- $triggerSpace);
    }

    &::before {
      animation: hamburgerTopAnimationReverse $triggerDuration $easeInOutQuart forwards;
    }

    &::after {
      transform: translateY($triggerSpace);
      animation: hamburgerBottomAnimationReverse $triggerDuration $easeInOutQuart forwards;
    }
  }
}

.header__toggled .menu-toggle {

  //&-text {
  //  color: rgba($white, 0.4);
  //}

  &__hamburger {
    background-color: $white;
    animation: hamburgerMiddleAnimation $triggerDuration $easeInOutQuart forwards;

    &::before {
      background-color: $white;
      animation: hamburgerTopAnimation $triggerDuration $easeInOutQuart forwards;
    }

    &::after {
      background-color: $white;
      animation: hamburgerBottomAnimation $triggerDuration $easeInOutQuart forwards;
    }
  }
}

.admin-bar .header .menu-toggle {
  top: 82px; // 32px admin-bar height + 50px position top
}

/*
 * Animation hamburger
 */

@keyframes hamburgerTopAnimation {
  0% {
    transform: translateY(- $triggerSpace);
  }

  40% {
    transform: translateY(0);
  }

  65% {
    transform: rotate(0deg) translateY(0);
  }

  100% {
    transform: rotate(90deg) translateY(0);
  }
}

@keyframes hamburgerMiddleAnimation {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(0deg);
  }

  65% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes hamburgerBottomAnimation {
  0% {
    opacity: 1;
    transform: translateY($triggerSpace);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  65% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

/*
 * Reverse animation hamburger
 */

@keyframes hamburgerTopAnimationReverse {
  0% {
    transform: rotate(90deg) translateY(0);
  }

  40% {
    transform: rotate(0deg) translateY(0);
  }

  65% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(- $triggerSpace);
  }
}

@keyframes hamburgerMiddleAnimationReverse {
  0% {
    transform: rotate(45deg);
  }

  40% {
    transform: rotate(0deg);
  }

  65% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes hamburgerBottomAnimationReverse {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  40% {
    transform: translateY(0);
    opacity: 1;
  }

  65% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY($triggerSpace);
    opacity: 1;
  }
}
