$heightSecondaryMenu: 40px;
$heightTicketingButton: 48px;

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.screen-reader-text:focus {
  background-color: darken($red, 2%);
  box-shadow: 0 0 2px 2px $white;
  clip: auto;
  clip-path: none;
  color: $white;
  display: block;
  font-size: 1em;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

@mixin buttonFooterFocus($color: $red){
  &:hover,
  &:focus{
    z-index: 925;
    box-shadow: 0 0 0 2px $white, 0 0 0 4px rgba($color, .62);
  }
}

@mixin buttonHeaderFocus($color: $red){
  &:hover,
  &:focus{
    z-index: 925;
    box-shadow: 0 0 0 2px $white, 0 0 0 4px rgba($color, .62);
  }
}

@mixin buttonHeader(){
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  border-radius: 0;
  z-index: 920;
  transform: none;

  @include breakpoint($medium) {
    position: static;
    border-radius: 50px;
    width: auto;
  }
}

@import "hamburger";

.header {
  @include row();
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  //z-index: 100;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 132px;
  z-index: 900;
  transition: padding 0.3s $easeInOutQuart;

  @include breakpoint($medium) {
    padding-top: 60px;
    align-items: center;
  }


  @media print {
    display: none;
  }

  &__toggled {
    max-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;

    .nav-primary,
    .nav-secondary,
    .nav-social-network,
    .nav-language-accessibilty {
      opacity: 1;
      max-height: 100%;
      transition: opacity 0.3s $easeInOutQuart 0.3s;
    }

    //@include breakpoint($medium) {
    //  padding-top: $heightSecondaryMenu;
    //  height: auto;
    //  max-height: none;
    //  position: relative;
    //  background-color: transparent;
    //  margin-bottom: 0;
    //  display: flex;
    //  flex-wrap: wrap;
    //
    //  &::before {
    //    height: 0;
    //  }
    //}
  }
}

.nav-primary,
.nav-secondary {
  opacity: 0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.3s $easeInOutQuart;

  ul {
    @include row();
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: $hardBlue;
  }

  li{
    border-bottom: 1px solid rgba($white, .23);
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: $white;
    text-underline: none;
  }

  //.current_page_parent a,
  .current-menu-item > a {
    color: $yellow;
    font-family: $nationalparkregular;
  }
}

.nav-social-network{
  opacity: 0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.3s $easeInOutQuart;
  margin-bottom: 33px;

  ul{
    padding: 0;
    margin: 0;
    text-align: center;
    background: $hardBlue;

    li{
      display: inline-block;
      margin-right: 5px;

      @include breakpoint($large){
        margin-right: 23px;
      }

      &:last-child{
        margin-right: 0;
      }

      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background: $lightGray;
        border-radius: 100%;
        color: $white;
        font-size: 30px;
        text-decoration: none;
      }
    }
  }
}

.nav-language-accessibilty{
  opacity: 0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  background: $hardBlue;
  transition: opacity 0.3s $easeInOutQuart;
  ul{
    padding: 0;
    margin: 0;
    text-align: center;
    li{
      display: inline-block;
      &.lang-item-fr{
        margin-right: 10px;
      }
      &.lang-item-en{
        margin-right: 40px;
      }
      &.current-lang{
        a{
          font-weight: 400;
          text-decoration: none;
        }
      }
      a{
        font-weight: 700;
        font-size: 14px;
        color: $white;
        line-height: 30px;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

/* Link/button to open sub-menu */
.menu-item-has-children > a {
  position: relative;

  &::after {
    content: '';
    border-bottom: 2px solid $white;
    border-right: 2px solid $white;
    display: block;
    position: absolute;
    right: $gutterSmall;
    top: 50%;
    margin-top: -5px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotateX(-45deg);
    transform: rotate(45deg);

    //@include breakpoint($large) {
    //  border-bottom: 1px solid $red;
    //  border-right: 1px solid $red;
    //  width: 5px;
    //  height: 5px;
    //  margin-top: -4px;
    //}
  }
}

.nav-primary {

  /* Submenu style */
  .sub-menu {
    display: block;
    height: 0;
    overflow: hidden;
    width: auto;
    transform: translateY(-30px) scaleY(0);
    transition: all 0.3s $easeInOutQuart;
    margin-top: 0;
    margin-bottom: 0;

    li{
      border: none;
    }

    a {
      opacity: 0;
      transition: opacity 0.3s $easeInOutQuart 0.3s;
      font-size: 16px;
      line-height: 32px;
      color: $lightBlue;

      @include breakpoint($medium){
        font-size: 18px;
        line-height: 36px;
      }
    }
  }

  .open .sub-menu {
    height: auto;
    transform: translateY(0) scaleY(1);

    a {
      opacity: 1;
    }
  }

  & > ul {

    &:first-child{
      margin-top: $heightTicketingButton;
    }

    &:last-child{
      margin-bottom: $heightTicketingButton;
    }
  }

  //@include breakpoint($medium) {
  //  .current-menu-item > a {
  //    color: $hardBlue;
  //
  //    &:before {
  //      transform: scaleX(1);
  //      transform-origin: left;
  //    }
  //  }
  //}

  a {
    display: block;
    text-align: center;
    width: 100%;
    position: relative;
    text-decoration: none;
    color: $white;
    font-size: 22px;
    line-height: 27px;

    @include breakpoint($medium) {
      font-size: 32px;
      line-height: 39px;
    }

    &:hover,
    &:focus {
      color: $yellow;

      //@include breakpoint($medium) {
      //  color: $hardBlue;
      //}

      &:before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}

.logo {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s $easeInOutQuart, margin 0.3s $easeInOutQuart;

  .mobile {
    display: block;
    width: auto;
    height: 63px;

    @include breakpoint($container) {
      display: none;
    }
  }

  .desktop {
    display: none;

    @include breakpoint($container) {
      display: block;
      width: auto;
      height: 30px;
    }
  }
}

.header__btn {
  @include button();
  @include buttonHeader();
  @include buttonHeaderFocus();

  height: 100px;

  @include breakpoint($medium){
    height: auto;
  }

  &--sessions{
    @include button('normal', $white);
    @include buttonHeader();
    @include buttonHeaderFocus($white);
    color: $lightGray;

    &:hover,
    &:focus{
      color: inherit;
    //  background-color: darken($white, 10%);
    //  border-color: darken($white, 10%);
    }
  }

  //@include breakpoint($large) {
  //  margin-top: 50px;
  //}

  & + &{
    left: 50%;

    @include breakpoint($medium){
      margin-left: 10px;
    }
  }
}
