.search_jobs {
  display: none;
}

.job_filters {
  background-color: transparent;

  .job_types {
    list-style: none outside;
    margin: 1rem 0;
    padding: 0;
    font-size: 0.83em;
    background: transparent;
    border-top: none;
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 0;
      float: none;
      margin-right: 0.5rem;
      margin-bottom: 1rem;
      border: none;

      label {
        display: block;
      }

      .job_type_label {
        padding: 0.5rem 1rem;
        border-radius: 10rem;
        border: solid 1px $hardBlack;
      }

      input[type="checkbox"] {
        position: absolute;
        visibility: hidden;

        &:checked + .job_type_label {
          background-color: $hardBlack;
          color: white;
        }
      }
    }
  }
}

ul.job_listings {
  border: none;

  > li.job_listing {
    @include card();

    margin: 20px 0;

    h3 {
      transition: color 0.2s ease-in-out;
    }

    &:hover,
    &:focus {
      h3 {
        color: $red;
      }
    }

    .job-type {
      border: 1px $hardBlack solid;
      padding: 0 0.4rem;
      border-radius: 4px;
      color: $hardBlack;
      font-size: 0.8rem;
      margin-right: 1rem;
    }

    &.job_position_featured > a {
      background-color: $white;
      border-left: 10px solid $red;

      &:hover,
      &:focus {
        background-color: $white;
      }
    }

    & > a {
      display: flex;
      align-items: center;
      position: relative;
      padding: 20px;

      &:hover,
      &:focus {
        background-color: white;
      }

      &:after {
        @include materialIcons();

        content: 'arrow_forward';
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 18px;
        color: $red;
      }

      img.company_logo {
        position: static;
        float: none;
        width: 54px;
        height: 54px;
      }

      div.position,
      div.location,
      div.meta {
        padding: 0;
        float: none;
      }

      div.location {
        display: flex;
        align-items: center;
        color: $hardBlue;
        font-size: 13px;
        line-height: 18px;

        &:before {
          @include materialIcons();

          content: "location_on";
          color: $mediumGray;
          font-size: 18px;
        }
      }

      div.position {
        width: 100%;

        .job-infos {
          display: flex;
          align-items: center;
        }

        .company {
          display: flex;
          align-items: center;

          &:before {
            content: '@';
            margin: 0 0.5rem;
          }

          strong {
            font-weight: normal;
          }
        }
      }
    }
  }
}

.single-job_listing {
  .entry-post {
    background-color: transparent;
    margin: 0 auto;
    padding: 0;

    .entry-post_content {
      position: relative;
      background-color: $hardBlue;

      .single_job_listing {
        & > h1 {
          color: $white;
          margin-bottom: 3rem;

          & > span {
            display: block;
            color: $lightBlue;

            &:before {
              content: '@';
              margin-right: 0.5rem;
            }
          }
        }

        .single_job_body {
          background: $white;
          padding: 5rem;

          .single_job_top {
            display: flex;

            .job_logo {
              margin-right: 1rem;
              margin-bottom: 1rem;

              .job_logo_container {
                position: relative;
                width: 150px;
                height: 150px;
                border-radius: 100%;
                overflow: hidden;

                .company_logo {
                  border: none;
                  width: 100%;
                  height: auto;
                }
              }
            }

            .job-type {
              border: 1px $hardBlack solid;
              padding: 0 0.4rem;
              border-radius: 4px;
              color: $hardBlack;
              font-size: 0.8rem;
              margin-right: 1rem;
            }

            .location {
              display: flex;
              align-items: center;
              color: $hardBlue;
              font-size: 13px;
              line-height: 18px;

              a {
                text-decoration: none;
              }

              &:before {
                @include materialIcons();

                content: "location_on";
                color: $mediumGray;
                font-size: 18px;
              }
            }
          }

          .company_video {
            position: relative;
            display: flex;
            justify-content: center;
          }

          .button-apply .application {
            text-align: center;

            .application_button {
              text-transform: initial;
              margin: 0 0 1rem 0;
              padding: 0.8em 1.2em;
            }
          }
        }
      }
    }
  }
}
