/* Emilie custom */
.mea {
  color: $yellow;
  margin-bottom:5px;
  margin-top:5px;
  font-size: 36px;
}

.meaorange {
  color: $red;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 24px;
}
