@mixin more-entry() {
  @include focusable();

  display: flex;
  flex-direction: column;
  justify-content: last baseline;
  margin-left: -$gutterSmall;
  margin-right: -$gutterSmall;
  width: 100vw;
  padding-left: $gutterSmall;
  padding-right: $gutterSmall;

  @include breakpoint($medium) {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    padding-left: $gutterMedium / 2;
    padding-right: $gutterMedium / 2;
  }

  @include breakpoint($large) {
    width: 100% * 1 / 3;
    padding-left: $gutterLarge / 2;
    padding-right: $gutterLarge / 2;
  }

  &:hover::before {
    transform: translateX(10px) scaleX(-1);
  }

  img {
    width: 100%;
    margin: 0;
  }

  &::before {
    @include materialIcons();

    content: '\E317';
    display: block;
    color: $red;
    font-size: 18px;
    line-height: 24px;
    width: 18px;
    transform: translateX(0) scaleX(-1);
    margin: 0;
    transition: transform 0.3s $easeInOutQuart;
    position: absolute;
    bottom: $gutterSmall;
    right: $gutterSmall;

    @include breakpoint($medium) {
      bottom: $gutterSmall;
      right: $gutterMedium / 2;
    }

    @include breakpoint($large) {
      bottom: $gutterLarge / 2;
      right: $gutterLarge / 2;
    }
  }

  &__job {
    color: $hardBlue;
    font-size: 14px;
    line-height: 18px;
    padding-right: 18px;
  }

  &__title {
    @include a($blue);
    font-size: 16px;
    line-height: 24px;
    padding-right: 18px;
    font-weight: normal;
    font-family: $montserrat;
    text-transform: none;
    text-decoration: none;
    overflow: hidden;
  }

  img,
  &__img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  &.has-post-thumbnail .more-entry__title {
    margin-top: 25px;
  }
}

@mixin more() {
  @include row();

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-left: 100% * 1 / $columns;
  padding-right: 100% * 1 / $columns;
  margin-top: 50px; // 80px - 30px entries margin-top
  margin-bottom: 80px;

  @include breakpoint($large) {
    //width: 100% * 9 / $columns;
    //max-width: $container * 9 / $columns;
    //padding-left: 0;
    //padding-right: 0;
    //transform: translateX(100% * 3 / $columns);
    //float: right;
    //padding-left: $gutterLarge / 2;
    //padding-right: $gutterLarge / 2;
    max-width: col-calc(11);
    padding: 0;
    padding-left: col-calc(3);
  }

  @include breakpoint($container + $gutterLarge) {
    max-width: $container;
    padding-left: $container / 4;
  }
}

.more {
  @include more();

  &-title {
    display: block;
    color: $red;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    width: 100%;
    margin-bottom: 30px;

    @include breakpoint($large) {
      position: absolute;
      top: 30px; // 30px entries margin-top
      left: 0;
      height: auto;
      width: 100% * 3 / $columns;
      padding-right: $gutterLarge / 2;
    }
  }

  &-entry {
    @include more-entry();

    &.team,
    &.post,
    &.speaker {
      @include more-entry();
    }

    &.team {
      width: 50%;
      margin-left: 0;
      margin-right: 0;

      @include breakpoint($medium) {
        width: 100% * 1 / 3;
      }
    }
  }
}
