/* Emilie custom */

.number {
  color:#fff;
  margin-bottom:5px;
  margin-top:5px;
  font-family: $nationalparkregular;
  font-size: 56px;
}

.numbername {
  color:#fff;
  font-family: $nationalparkregular;
  text-rendering: optimizeLegibility;
  margin-bottom:5px;
  margin-top:20px;
  text-transform: uppercase;
  font-size: 18px;
}
