.navigation {
  background-color: rgba($hardBlue, 0.05);
  max-width: 50rem;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;

  &-title {
    text-align: center;
    text-transform: uppercase;
    font-family: $houseSlant;
    font-size: 2.5em;
    margin: 0;
    margin-top: 10vh;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-100%);
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 0;
    list-style: none;

    .prev {
      margin-right: auto;
    }

    .next {
      margin-left: auto;
    }

    .hidden {
      visibility: hidden;
    }

    a {
      display: inline-block;
      padding: 0.5em;
      margin: 0.5em;
      color: inherit;

      &:hover,
      &:focus {
        color: $blue;
      }
    }

    .active a {
      text-decoration: none;
      color: $red;
      font-weight: bold;
    }
  }
}
