.wp-block-cover,
.page-push {
  @include row();

  margin-top: 30px;
  margin-bottom: 30px;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;

  @include breakpoint($medium) {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    margin-left: auto;
    left: 0;
  }

  @include breakpoint($large) {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  //color: $white;

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &__detail,
  &__message {
    width: 100%;
  }

  &__message {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    margin: 15px 0;
  }

  &__detail {
    font-size: 18px;
    line-height: 26px;
    margin: 15px 0;
  }

  &__link {
    @include button('ghost');

    padding: 10px 30px;
  }

  &__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &.has-post-thumbnail {
    position: relative;
    color: $white;
    background-color: rgba(black, 0.4);
    padding: 60px 100vw * 1 / $columns;

    @include breakpoint($medium) {
      padding: 90px 100px;
    }

    @include breakpoint($large) {
      padding: 120px 170px;
    }

    .page-push__detail,
    .page-push__message,
    .page-push__link {
      color: $white;
    }

    .page-push__link {
      border-color: $white;
    }
  }
}
