@mixin page-social__icon() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 70px;
  font-size: 0;
  color: transparent;

  @include breakpoint($large) {
    width: 70px;
    height: 70px;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

.page-social {
  @include row();

  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
  background-color: #EEE;
  height: 50px;

  @include breakpoint($medium) {
    margin-top: 85px;
    margin-bottom: 50px;
    width: 100% - col-calc(2);
    margin-left: col-calc(1);
    margin-right: col-calc(1);
    left: 0;
    height: 60px;
  }

  @include breakpoint($large) {
    margin-top: 105px;
    margin-bottom: 70px;
  }
  //color: $white;

  &__title {
    @include h2-bis();

    width: 100%;
    max-width: 100%;
    margin: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateY(50%);
    text-align: center;

    //
    @include breakpoint($medium) {
      left: col-calc(1);
      text-align: left;
    }
    //
    //@include breakpoint($large){
    //  margin-left: $gutterLarge/2;
    //  margin-right: $gutterLarge/2;
    //}
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: -$gutterSmall/2;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    right: 0;
    left: 0;
    width: 100%;

    @include breakpoint($medium) {
      justify-content: flex-end;
      bottom: 100%;
      right: col-calc(1);
      left: auto;
    }
  }

  li {
    padding-left: $gutterSmall/2;
    padding-right: $gutterSmall/2;
  }

  &__facebook,
  &__snapchat,
  &__twitter,
  &__youtube {
    @include page-social__icon();
  }

  &__facebook {
    background-color: #3C5A99;

    svg {
      width: 19px;
      height: 19px;
    }
  }

  &__youtube {
    background-color: red;
  }

  &__twitter {
    background-color: #1DA1F2;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__snapchat {
    background-color: #FFFC00;

    svg {
      width: 30px;
      height: 30px;
    }
  }

}
