.page-newsletter {
  @include row();

  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
  background-color: #EEE;
  height: 110px;

  @include breakpoint($medium) {
    margin-top: 85px;
    margin-bottom: 50px;
    width: 100% - col-calc(4);
    margin-left: col-calc(2);
    margin-right: col-calc(2);
    left: 0;
    height: 110px;
  }

  @include breakpoint($large) {
    margin-top: 105px;
    margin-bottom: 70px;
  }
  //color: $white;

  &__title {
    @include h2-bis();

    width: 100%;
    max-width: 100%;
    margin: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateY(50%);
    text-align: center;
  }

  &__subtitle {
    text-align: center;

    @include breakpoint($medium) {
      margin-top: 35px;
    }
  }

  &__message {
    margin: auto;
    background: white;
    height: 50px;
    text-align: center;

    @include breakpoint($medium) {
      width: 70%;
    }
  }

  input[type="email"] {
    margin: 0;
    width: 100%;
    padding: 10px;
    height: 50px;
    font-family: $montserrat;
  }

  input[type="submit"] {
    -webkit-appearance: caret;
    cursor: pointer;
    background: transparent;
    font-family: $montserrat;
    font-weight: bold;
    font-size: 10px;
    text-decoration: underline;
    text-decoration-color: $veryHardBlue;

    @include breakpoint($medium) {
      z-index: 10;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      font-size: 14px;
    }
  }

  .sib_signup_box_inside_1 {
    @include breakpoint($medium) {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  .page-newsletter__message {
    position: relative;
  }

  .mc4wp-response {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    width: 100%;
  }

  .mc4wp-alert.mc4wp-success {
    background: $green;
    width: 100%;
    padding: 5px;
  }

  .mc4wp-alert p {
    margin: 0;
  }
}
