.post {
  @include row();
  @include clearfix();
  @include focusable();

  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px (100% * 1 / $columns);

  &:hover &-title::after {
    transform: translateX(10px) scaleX(-1);
  }

  img {
    display: block;
    height: auto;
    width: 100%;

    @include breakpoint($medium) {
      width: col-calc(3);
      margin-left: col-calc(1);
      margin-bottom: 0;
      float: left;
    }
  }

  &-title,
  &-date {
    width: 100%;
    margin: 0;
  }

  &-date {
    margin-top: 30px;
    font-size: 12px;
    line-height: 26px;
    color: $gray;
  }

  &-title {
    font-weight: normal;
    //@include h2();

    &::after {
      @include materialIcons();

      content: '\E317';
      display: block;
      color: $red;
      font-size: 18px;
      line-height: 18px;
      width: 18px;
      transform: translateX(0) scaleX(-1);
      margin: 0;
      transition: transform 0.3s $easeInOutQuart;
      //position: absolute;
      //bottom: 0;
      //right: 0;
      //transform: translate()
    }
  }

  a {
    color: $hardBlue;
    text-decoration: none;
  }

  &.has-post-thumbnail {
    .post-date,
    .post-title {
      margin-left: 0;

      @include breakpoint($medium) {
        float: left;
        padding-left: $gutterMedium;
        width: col-calc(6);
        margin-right: col-calc(2);
      }

      @include breakpoint($large) {
        padding-left: $gutterLarge;
      }
    }
  }

  &.sticky {
    img {
      margin-left: 50%;
      width: 100vw;
      max-width: 100vw;
      transform: translateX(-50%);
    }

    .post-title {
      font-weight: bold;
    }

    @include breakpoint($medium) {
      .post-title {
        font-size: 36px;
        line-height: 43px;
      }

      &.has-post-thumbnail {
        img {
          width: col-calc(6);
          margin: 0;
          transform: none;
        }

        .post-date,
        .post-title {
          width: col-calc(5);
          margin-left: col-calc(1);
          margin-right: 0;
        }
      }
    }
  }
}
