.homepage-image-simple {
  @include clearfix();

  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint($medium) {
    margin-top: 30px;
    margin-bottom: 50px;
    flex-direction: row;
    align-items: center;
  }

  @include breakpoint($large) {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  &.--right {
    flex-direction: row-reverse;
  }

  &-title {
    width: 100%;
    text-align: center;
    align-content: center;

    @include breakpoint($medium) {
      padding-right: $gutterMedium;
      padding-left: $gutterMedium;
      //width: 50%;
      flex: 1;
    }

    &__title {
      @include h1();

      width: 100%;
      margin: 0;
      bottom: 100%;

      @include breakpoint($medium) {
      }
    }

    &__subtitle {
      display: block;
      font-size: 16px;
      line-height: 24px;
      font-family: $montserrat;
      font-weight: normal;
      text-transform: none;
      color: black;
    }
  }

  &-image {
    width: 100%;
    display: block;

    @include breakpoint($medium) {
      //width: 50%;
      flex: 1;
    }

    &__img {
      width: 100%;
    }
  }
}
