.sessionTheme {
  color: white;
  padding: 0.3em 0.7em 0.25em 0.75em;
  font-size: 0.8em;
  border-radius: 3px;
  margin-right: 1em;
  font-weight: 900;

  @each $theme, $color in $themesColors {
    &--#{$theme} {
      background-color: $color;
    }
  }
}
