.archiveSession {
  &-content {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  }

  &-filters {
    display: flex;
    justify-content: space-between;
    max-width: 50em;
    margin: 5vh auto;
    padding-left: 1em;
    padding-right: 1em;

    @include media('<=phone') {
      flex-direction: column;
      align-items: center;
    }

    &-nav {
      display: flex;
    }

    &-btn {
      @include button('ghost', $hardBlue);

      &.is-selected {
        @include button('normal', $hardBlue);
      }

      &,
      &.is-selected {
        font-size: 0.7em;
        font-weight: 500;
        letter-spacing: 0.1em;
        padding: 1em 1.5em;
        transition: none;
        outline: none;
        line-height: initial;
        transform: none;
      }

      &:hover,
      &:focus {
        background-color: rgba($hardBlue, 0.15);
      }

      &:first-child {
        padding-left: 2em;
      }

      &:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      &:last-child {
        padding-right: 2em;
      }

      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &-btn + &-btn {
      margin-left: -2px;
    }
  }

  &-item {
    position: relative;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);

    &.is-hidden {
      display: none;
    }

    &-title {
      text-align: center;
      margin-top: 8vh;
      margin-bottom: 2vh;

      &:after {
        margin-left: auto;
        margin-right: auto;
      }

      @include media('<=phone') {
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }

    &-list {
      &.is-hidden {
        display: none;
      }
    }
  }
}
