.sessionsList {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;

  @include media('<=phone') {
    padding-left: 1em;
    padding-right: 1em;
  }
}
