.singleSession {

  &-header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 1em;
    padding-right: 1em;
  }

  &-theme {
    color: white;
    padding: 0.25em 0.7em 0.25em 0.75em;
    font-size: 0.8em;
    border-radius: 3px;
    margin-right: 1em;
    font-weight: 900;
  }

  &-title {
    margin: 0.5em auto;
    color: rgba(black, 0.9);
  }

  &-metas {
    display: flex;

    &:before,
    &:after {
      content: '';
      flex: 1;
    }

    @include media('<=phone') {
      flex-direction: column;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 0.75em 1.5em;
      font-size: 0.8em;
      line-height: 1.4;
      color: rgba(black, 0.9);

      svg {
        width: 16px;
        height: 16px;
        margin-right: 0.5em;
      }

      &--day {
        background-color: rgba(black, 0.8);
        color: white;
      }

      &--time {
        background-color: rgba(black, 0.2);
      }

      &--room {
        background-color: rgba(black, 0.1);
      }
    }
  }

  &-content {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  }

  &-speakers {
    margin-top: 4em;
    margin-bottom: 4em;
  }

  &-siblings {
    position: relative;
    background-color: $brown;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
    padding-bottom: 3em;
    margin-top: 6em;

    &-title {
      @include h2-bis();
      text-align: center;
      width: 100%;
      margin: 0;
      position: absolute;
      bottom: 100%;
      left: 0%;
      transform: translateY(50%);
    }
  }
}
