.sessionTimetable {
  $columnWidth: 18em;
  $rowHeight: 10em;
  $columnHeadersHeight: 3em;

  display: flex;
  position: relative;
  z-index: 1;

  @include media('<=phone') {
    font-size: 0.75em; // 16*.75 = 12px --> result must be round for background-size!
  }

  &.is-hidden {
    display: none;
  }

  &-btn {
    appearance: none;
    display: flex;
    flex: 0 0 90px;
    width: 90px;
    align-items: center;
    justify-content: center;
    background-color: rgba($red, 0.1);
    border: none;
    padding: 0;
    margin: 0 2px;
    cursor: pointer;
    transition: all 150ms;
    position: absolute;
    top: 0;
    height: 100%;

    &:hover,
    &:focus {
      background-color: rgba($red, 0.2);
    }

    @include media('<=tablet') {
      display: none;
    }

    svg {
      width: 50px;
      height: 50px;
      margin: auto;
      border-radius: 999px;
      background-color: $red;
      color: white;
    }

    &[data-direction="prev"] {
      transform: scaleX(-1);
      left: 0;
    }

    &[data-direction="next"] {
      order: 2;
      right: 0;
    }
  }

  .timetable {
    display: flex;
    overflow: auto;
    cursor: grab;
    scroll-behavior: smooth;
    width: 100vw;

    &.is-dragging,
    &:active {
      scroll-behavior: initial;
      cursor: grabbing;
    }

    // Centering children
    &:before {
      content: '';
      flex: 0.5;
    }

    aside {
      width: 0;
      flex: 0 0 auto;
      display: flex;
      position: sticky;
      left: 0;

      ul {
        flex: 1 0 auto;
        list-style: none;
        padding-left: 0;
        margin: $columnHeadersHeight 0 0;
        font-size: inherit;
        line-height: inherit;
      }

      li {
        height: $rowHeight;
        margin-top: 0;
        min-width: 100vw;

        span {
          @include h3();
          color: $veryHardBlue;
          padding-left: 6em;
          //display: inline-block;
          //font-family: $houseSlant;
          //font-weight: bold;
          //padding: 0.2em;
          //font-size: 2em;
          //color: rgba($hardBlue, 0.25);
          //background-color: $bodyBackground;
          //transform: translateY(-100%);
        }
      }
    }

    section {
      background: linear-gradient(to right, mix(black, white, 6) 2px, transparent 1px),
                  linear-gradient(to right, mix(black, white, 6) 1px, transparent 1px);
      background-size: $columnWidth 100%, $columnWidth/4 100%;
      background-position: calc(1em - 1px) 0;
      padding-right: $columnWidth/4.1;
      padding-left: 1em;

      header {
        flex: 0 0 auto;
        height: $columnHeadersHeight;
        color: rgba(black, 0.25);
        position: sticky;
        left: 0;
        z-index: 4;

        ul {
          display: flex;
          list-style: none;
          padding-left: 0;
          margin: 0;
          font-size: inherit;
          line-height: inherit;

          li {
            flex: 0 0 auto;
            width: $columnWidth;

            &:last-child {
              min-width: 0;
              width: 0;
            }

            span {
              display: inline-block;
              padding: 0.25em;
              background-color: $bodyBackground;
              color: rgba($hardBlue, 0.35);
              font-weight: 900;
              font-size: 0.9em;
            }
          }
        }
      }

      time {
        .room-timeline {
          list-style: none;
          padding-left: 0;
          margin: 0;
          font-size: inherit;
          line-height: inherit;

          li {
            height: $rowHeight;
            position: relative;
            margin-top: 2.5em;
            padding: $spacer / 2;

            a {
              height: $rowHeight;
              min-height: $rowHeight;
              display: flex;
              flex-direction: column;
              align-items: center;
              // justify-content: center; // #1 Don't! cf. below
              padding: 1em;
              text-decoration: none;
              color: white;
              box-shadow: 0 0 0 2px $bodyBackground inset;
              text-align: center;
              overflow: hidden;
              position: absolute;
              z-index: 3;
              border-radius: 5px;
              transform: perspective(100px) translateZ(0);
              transition: all 150ms;
              width: calc(100% - #{$spacer});

              &[data-small="true"] {
                font-size: 0.85em;
              }

              @each $theme, $color in $themesColors {
                &[data-theme-slug="#{$theme}"] {
                  background-color: $color;
                }
              }

              &:hover,
              &:focus {
                min-width: $columnWidth/2;
                height: auto !important;
                transform: perspective(100px) translateZ(15px);
                box-shadow: 0 4px 13px rgba(black, 0.2);
                outline-color: transparent;
                z-index: 4;
              }

              small {
                display: block;
                width: 100%; // Fix IE
                font-size: 1em;
                line-height: 1.3;
                font-weight: 500;
              }

              // #1 Center vertically, only if possible
              &:before {
                content: '';
                flex: 0.5;
              }

              &:after {
                content: attr(data-speakers) ' ∙ ' attr(data-theme) ' ∙ ' attr(data-time);
                display: block;
                margin-top: 0.5em;
                font-weight: 900;
                font-size: 0.75em;
                opacity: 0.65;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }
}
