.sessionItem {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  text-decoration: none;
  color: inherit;
  opacity: 1;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
  transition: opacity .3s $easeOutQuart, padding .3s $easeOutQuart, margin .3s $easeOutQuart, transform .3s $easeOutQuart, max-height .3s $easeOutQuart, box-shadow .3s $easeOutQuart;
  transform: scale(1);
  max-height: 999px;

  @include breakpoint($medium) {
    flex-direction: row;
  }

  &::before {
    @include materialIcons();
    content: 'arrow_forward';
    font-size: 18px;
    color: $red;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  & + & {
    margin-top: 2em;

    @include media('<=phone') {
      margin-top: 1em;
    }
  }

  &:hover,
  &:focus {
    //outline: 2px solid rgba($hardBlue, 0.1);
    color: inherit;
    transform: translateY(-5px);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
    transition: transform .3s $easeOutQuart, box-shadow .3s $easeOutQuart;

    &::before {
      animation: from-right-to-left 1s $easeOutQuart infinite;
    }
  }

  &-date {
    font-size: 1em;
    display: flex;
    flex-direction: column;

    @include media('>phone') {
      // background-color: rgba($hardBlue,.05);
      //    padding: 1em 1.5em;
      order: 2;
      flex-direction: row;
    }

    &-day {
      font-weight: 900;

      @include media('<=phone') {
        margin-right: 0.5em;
      }
    }
  }

  &-arrow {
    display: block;
    position: absolute;
    right: 1em;
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
  }

  &-main {
    display: flex;
    flex-direction: column;

    @include media('>phone') {
      flex-direction: row;
    }
  }

  &-detail {
    display: flex;
    flex-direction: column-reverse;

    @include media('>phone') {
      flex-direction: column;
    }
  }

  &-title {
    @include a($hardBlue);
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      z-index: 10;
    }
  }

  &-metas {
    margin-top: 0.5em;
    line-height: 1.4;
    margin-bottom: 10px;

    @include breakpoint($medium) {
      margin-bottom: 0;
    }
  }

  &-room {
    display: inline-flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 500;
    color: $black;

    @include media('>phone') {
      padding-left: 2em;
    }

    svg {
      width: 1em;
      height: 1em;
      opacity: 0.5;
      margin-right: 0.5em;
    }
  }

  &-date-day {
    display: inline-flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 900;
    color: $black;

    svg {
      width: 1em;
      height: 1em;
      opacity: 0.5;
      margin-right: 0.5em;
    }
  }

  &-date-time {
    display: inline-flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 900;
    color: $black;

    @include media('>phone') {
      padding-left: 2em;
    }

    svg {
      width: 1em;
      height: 1em;
      opacity: 0.5;
      margin-right: 0.5em;
    }
  }

  &-speakers {
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 5px;

    a {
      text-decoration: none;
      position: relative;
      z-index: 20;

      & + a {
        margin-left: 0.5em;
      }
    }
  }

  &-theme {
    font-size: 0.7em;
  }

  & + &--visible {
    margin-top: 0;
    margin-bottom: 2em;
  }

  &--visible {
    margin-bottom: 2em;
  }

  &--visible:last-child {
    margin-bottom: 0;
  }

  &--hide {
    transform: scale(.6);
    max-height: 0;
    margin-top: 0;
    padding: 0;
    opacity: 0;
    //overflow: hidden;
    transition: opacity .2s $easeOutQuart, margin .2s $easeOutQuart, padding .2s $easeOutQuart, transform .2s $easeOutQuart, max-height .2s $easeOutQuart;
  }

  &--hide + &{
    margin-top: 0;
  }
}

@keyframes from-right-to-left {
  0%, 60% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  20% {
    transform: translate3d(10px, 0, 0);
    opacity: 0;
  }
  40% {
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }
}
