$width-room: 100px;
$width-hour-interval: 300px;
$height-hour: 220px;

@mixin buttonFilter() {
  font-size: 12px;
  padding: 6px 12px;
}

@mixin switchTo() {
  display: block;
  text-align: center;
  padding: 15px 25px;
  color: $veryHardBlack;
  background-color: $white;
  text-decoration: none;
  font-size: rem-calc(14px);
  line-height: rem-calc(18px);
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid $veryHardBlack;
}

.timelines,
.listing-group {

  &--hide {
    display: none;
  }
}

.sessions-timeline {
  position: relative;
  background-color: $white;
  //border: 2px solid $lightBrown;
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);


  @include breakpoint($medium) {
    //width: 100%;
    //margin-left: auto;
    //transform: none;
    margin-top: 120px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .switch-group {
    position: relative;
    z-index: 600;
    display: flex;
    flex-direction: column;
    @include container();

    @include breakpoint($large) {
      flex-direction: row;
    }
  }

  .switch-to__day + .switch-to__day,
  .switch-to__view + .switch-to__view {
    margin-left: -2px;
    z-index: 1;
  }

  .switch-to {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    max-width: $container;
    margin: 0 auto;
    padding: 0;
    transform: translateY(-50%);

    @include breakpoint($medium) {
      width: 50%;
      justify-content: flex-start;
    }

    &:first-child:last-child{
      justify-content: center;
    }

    &:last-child {
      margin-top: 20px;

      @include breakpoint($medium) {
        justify-content: flex-end;
        margin-top: 0;
      }
    }

    //@include media('<=phone') {
    //  width:90%;
    //  margin-bottom: 1rem;
    //}

    &__day,
    &__view {
      position: relative;

      a,
      button {
        @include switchTo();
      }

      &:first-child a,
      &:first-child button {
        border-top-left-radius: 99px;
        border-bottom-left-radius: 99px;
      }

      &:last-child a,
      &:last-child button {
        border-top-right-radius: 99px;
        border-bottom-right-radius: 99px;
      }

      &--active {
        z-index: 3;

        a,
        button {
          background-color: $hardBlue;
          color: $white;
          border-color: $hardBlue;
        }
      }
    }
  }

  .filter-by {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 -4px 0;
    padding: 0 0 30px;
    width: auto;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 3px;
      background-color: $bodyBackground;
    }

    @include breakpoint($medium) {
      max-width: 100%;
    }

    &__item {
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px;

      button {
        @include buttonFilter();
        transition: background .3s $easeOutQuart 0s, color .3s $easeOutQuart 0s;
      }

      &--all button {
        @include button('ghost', $hardBrown);
        @include buttonFilter();
        transition: background .3s $easeOutQuart 0s, color .3s $easeOutQuart 0s;

        &.active {
          background-color: $hardBrown;
          color: $white;
        }
      }

      @each $theme, $color in $themesColors {

        &--#{$theme} button {
          @include button('ghost', $color);
          @include buttonFilter();
          //box-shadow: 0 0 0 0 $white, 0 0 0 0 $color;
          //transition: background .3s $easeOutQuart 0s, color .3s $easeOutQuart 0s, box-shadow .3s $easeOutQuart 0s;

          &:hover,
          &:focus {
            box-shadow: 0 0 0 2px $white, 0 0 0 4px rgba($color, .3);
            background-color: rgba($color, .1);
            color: darken($color, 10%);
          }

          &.active {
            background-color: $color;
            color: $white;

            &:hover,
            &:focus {
              box-shadow: 0 0 0 2px $white, 0 0 0 4px $color;
            }
          }
        }
      }
    }
  }

  .listing-group {
    .singleSession-siblings {
      margin-top: 0;
    }
  }

  .timelines,
  .listing-group {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;

    @include breakpoint($medium) {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
      transform: none;
      overflow: hidden;
    }

    nav {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      align-self: center;
      z-index: 500;
      height: 100%;
      pointer-events: none;
      @include breakpoint($medium) {
        display: block;
      }

      button {
        pointer-events: auto;
        position: absolute;
        height: 100%;
        top: 0;
        left: auto;
        right: 0;
        width: 84px;
        background: rgba($red, 0.2);
        border: 0;
        //@include screen-reader();
        font-size: 0;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          height: 50px;
          width: 50px;
          border-radius: 50px;
          display: block;
          background-size: 100%;
          background: $red url(svg-encode('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$white}" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>')) no-repeat center;
          transform: translate(-50%, -50%);
        }

        &:first-of-type {
          right: auto;
          left: 0;
        }

        &:last-of-type::before {
          transform: translate(-50%, -50%) rotate(180deg);
        }

      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      transition: transform 0.62s $easeOutQuart;
      @include breakpoint($medium) {
        flex-direction: row;
        width: 1000vw;
      }
    }
  }

  .timeline,
  .listing {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    //margin-top: 30px;
    display: block;
    overflow-x: hidden;

    @include breakpoint($medium) {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }


    & + .timeline {
      margin-top: 60px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      position: relative;

      // From row to column
      //width: $width-hour-interval * 10;

      @include breakpoint($large) {
        flex-direction: row;
      }
    }

    &__level {
      position: absolute;
      top: 10px;
      right: 20px;

      svg {
        height: 20px;
        width: 20px;
      }
    }

    &__from-to,
    &__speaker {
      display: block;
      opacity: .9;
      font-size: 12px;
      font-weight: 500;
      margin-top: .5em;

      ul {
        max-width: none;
      }
    }

    @include breakpoint($medium){
      &__from-to{
        display: none;
      }
    }

    &__day {
      @include switchTo();
      margin-left: auto;
      margin-right: auto;
      border-radius: 99px;
      width: 50%;
      display: flex;
      justify-content: center;

      @include breakpoint($medium) {
        display: none;
      }
    }

    &__events {
      z-index: 99;
      position: relative;
      display: flex;
      list-style: none;
      //width: 100vw;
      padding: 15px 20px;
      margin: 0;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      // From row to column
      //padding-left: $width-room;
      //flex-direction: column;

      @include breakpoint($medium) {
        //display: none;
        z-index: 99;
        min-width: 300px;
        //height: 100%;
        height: auto;
        min-height: 100%;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
        flex-wrap: wrap;
        margin-right: 0;
      }
    }

    &__event {
      background-color: red;
      position: relative;
      //display: block;
      display: flex;
      align-items: center;
      //background-color: $green;
      padding: 8px 20px;
      min-width: 300px;
      min-height: $height-hour;
      // From row to column
      //float: left;
      //height: 100%;
      margin: 0 10px;
      border-radius: 4px;
      //color: $black;
      box-shadow: 0 0 0 transparent;
      transform: scale3d(1, 1, 1);
      transition: box-shadow .3s $easeOutQuart, border-radius .3s $easeOutQuart, background .3s $easeOutQuart, transform .3s $easeOutBack;

      @include breakpoint($medium) {
        min-width: auto;
        min-height: auto;
        //width: 100%;
        width: auto;
        margin: 8px 10px;
        // From row to column
        //margin-left: 2px;
        //margin-right: 2px;
      }

      $extendHover: 5px;

      &:hover {
        border-radius: .025px;
      }

      a {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
        color: inherit;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
      }

      @each $theme, $color in $themesColors {
        //@debug $theme;
        &--#{$theme} {
          background-color: $color;
          box-shadow: 0 0 0 0 $color;

          @if ($color == darken(#F4E500,5%) or $color == darken(#A4E406,5%) or $color == darken(#11E1EA,5%) ) {
            color: $veryHardBlack;
            svg{
              fill: $veryHardBlack;
            }

          } @else {
            color: $white;
            svg{
              fill: $white;
            }
          }

          &:hover {
            box-shadow: 0 0 0 $extendHover $color;
          }
        }
      }

      &--visible {
        opacity: 1;
        transform: scale3d(1, 1, 1);
      }

      &--hide {
        opacity: .2;
        transform: scale3d(.9, .9, .9);
      }
    }

    &__hours {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      // From row to column
      //height: 30px;
      //padding-left: $width-room;
      //width: $width-hour-interval * 10;
      //position: absolute;
      //top: 0;
      //left: 0;
      //position: sticky;
      margin-top: 58px;
      z-index: 10;
      width: $width-room;

      @include breakpoint($medium) {
        position: -webkit-sticky;
        position: sticky;
        display: flex;
        flex-direction: column;
        left: 0;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 100%;
        //background-color: $white;
        background: linear-gradient(90deg, rgba($white, 1) 62%, rgba($white, 0) 100%);

        z-index: -1;
      }
    }

    &__hour {
      position: relative;
      font-weight: bold;
      //width: $width-hour-interval;
      height: $height-hour;
      padding-left: 1rem;
      padding-right: 1rem;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 13px;
        left: 100%;
        height: 1px;
        background-color: rgba($black, .1);
        width: 100vw;
      }
    }

    &__rooms {
      width: 100%;
      list-style: none;
      margin: 0 auto;
      padding: 0;
      // From column to rows
      //position: absolute;
      //top: 0;
      //left: 0;
      //height: 100%;
      //display: block;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      //@include breakpoint($medium){
      //  overflow-x: scroll;
      //  -webkit-overflow-scrolling: touch;
      //}

      @include breakpoint($medium) {
        //overflow-x: hidden;
        //-webkit-overflow-scrolling: auto;
        flex-direction: row;
        flex: 1;
        position: unset;
      }
    }

    &__room {
      display: flex;
      align-items: center;
      // position: relative;
      // From row to column
      //height: 100px;
      flex-direction: column;
      width: 100%;
      margin: 0;
      //margin: 0 11px;
      //overflow-x:scroll;
      @include breakpoint($medium) {
        align-items: flex-start;
        width: auto;
        position: unset;
        //flex-direction: row;
      }

      &-title {
        //background-color: red;
        font-size: rem-calc(14px);
        line-height: rem-calc(18px);
        color: $veryHardBlack;
        margin: 0;
        z-index: 10;
        // From row to column
        //width: $width-room;
        //position: sticky;
        //display: block;
        //top: 0;
        //left: 0;
        //height: 100%;
        display: flex;
        width: 100%;
        //height: 30px;
        padding: 20px;

        @include breakpoint($medium) {
          align-items: center;
          justify-content: center;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
