.social-share {
  @include container(8);
  position: relative;
  //width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;

  .fb-like {
    @include breakpoint($medium) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__title {
    @include h3-bis();
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__button {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: $gutterSmall / 2;
    margin-right: $gutterSmall / 2;
    border-radius: 50px;
    text-decoration: none;
    color: $white;

    &:hover,
    &:focus {
      transition: background-color 0.3s $easeInOutQuart;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--facebook {
      background: rgb(59, 89, 152);

      &::before {
        width: 15px;
        height: 15px;
        //noinspection CssUnknownTarget,CssUnknownTarget
        background-image: url('../images/ico_facebook.svg');
      }
    }

    &--linkedin {
      background: rgb(37, 120, 181);

      &::before {
        width: 20px;
        height: 20px;
        //noinspection CssUnknownTarget,CssUnknownTarget
        background-image: url('../images/ico_linkedin.svg');
      }
    }

    &--twitter {
      background: rgb(89, 185, 245);

      &::before {
        width: 25px;
        height: 25px;
        //noinspection CssUnknownTarget,CssUnknownTarget
        background-image: url('../images/ico_twitter.svg');
      }
    }
  }
}
