.speakersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.speakerItem {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  margin: 1em;

  &-img {
    display: block;
    margin-bottom: 0.5em;
  }

  &-title {
    display: block;
    font-size: 1.1em;
  }

  &-job,
  &-company {
    color: $blue;
    font-weight: 500;
    font-size: 1.2em;
  }

  &-job + &-company:before {
    content: '@ ';
  }
}

.singleSpeaker {

  &-meet{
    text-align: center;
  }

  &-back-button {
    @include button('back');
  }
  
  &-header {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }

  & &-title {
    text-align: center;
    color: inherit;
    margin-bottom: 0.25em;
  }

  &-job-company{
    text-align: center;
  }

  &-job,
  &-company {
    color: $blue;
    font-weight: 500;
    //font-size: 0.9em;
    font-size: 1.2em;
  }

  &-job + &-company:before {
    content: ' @ ';
  }

  &-content {
    display: inline-block;
    max-width: 50em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    @include container(8);
  }

  &-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;

    @include media('>phone') {
      float: left;
      margin-right: 2em;
      margin-left: 0;
    }
  }

  &-siblings {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 3em 1em;
    margin-top: 6em;
    clear: both;

    &-title {
      @include h2-bis();

      text-align: center;
      width: 100%;
      margin: 0;
      position: absolute;
      bottom: 100%;
      left: 0%;
      transform: translateY(50%);
    }
  }
}

.single-speaker{
  h1{
    margin-bottom: 10px;
  }
  .singleSpeaker-job-company{
    margin-bottom: 30px;
  }
}