.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $gutterSmall / 2;

  @include breakpoint($medium) {
    padding: $gutterMedium / 2;
  }

  @include breakpoint($large) {
    padding: $gutterLarge / 2;
  }

  img,
  &-logo {
    display: block;
    width: auto;
    height: auto;
    max-height: 120px;
    max-width: 120px;

    @include breakpoint($medium) {
      max-height: 170px;
      max-width: 170px;
    }
  }
}

.sponsors {
  @include row();

  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;

  @include breakpoint($medium) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include breakpoint($large) {
    //padding-top: 70px;
    //padding-bottom: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 120px;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  &-title {
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    //margin-bottom: 25px;
    margin-bottom: 30px;
  }

  &__orga {
    order: 1;
    .sponsors-title{
      font-weight: 700;
    }

    @include breakpoint($medium) {
      width: 50%;
      max-width: $container / 2;
      margin-left: auto;
      margin-right: 0;
    }
    @include breakpoint($large) {
      padding-top: 120px;
    }
  }

  &__soutien {
    order: 2;
    padding-top: 0;
    .sponsors-title{
      font-weight: 700;
    }

    @include breakpoint($medium) {
      width: 50%;
      max-width: $container / 2;
      margin-right: auto;
      margin-left: 0;
      padding-top: 50px;
    }

    @include breakpoint($large) {
      //padding-top: 70px;
      padding-top: 120px;
    }
  }

  &__3-toques {
    order: 3;

    img {
      max-height: 120px;
      max-width: 120px;

      @include breakpoint($medium) {
        max-height: 200px;
        max-width: 200px;
      }
    }
  }

  &__2-toques {
    order: 4;
  }

  &__1-toque {
    order: 5;

    img {
      max-height: 100px;
      max-width: 100px;

      @include breakpoint($medium) {
        max-height: 140px;
        max-width: 140px;
      }
    }
  }
  &__wordpress {
    order: 6;

    img {
      max-height: 100px;
      max-width: 100px;

      @include breakpoint($medium) {
        max-height: 140px;
        max-width: 140px;
      }
    }
  }

  &__accessibilite {
    order: 7;

    img {
      max-height: 100px;
      max-width: 100px;

      @include breakpoint($medium) {
        max-height: 140px;
        max-width: 140px;
      }
    }
  }

  &__media {
    order: 8;

    img {
      max-height: 100px;
      max-width: 100px;

      @include breakpoint($medium) {
        max-height: 140px;
        max-width: 140px;
      }
    }
  }

  &__comm {
    order: 9;

    @include breakpoint($large) {
      padding-bottom: 120px;
    }

    img {
      max-height: 100px;
      max-width: 100px;

      @include breakpoint($medium) {
        max-height: 140px;
        max-width: 140px;
      }
    }
  }

  &__startups {
    order: 10;

    img {
      max-height: 100px;
      max-width: 100px;

      @include breakpoint($medium) {
        max-height: 140px;
        max-width: 140px;
      }
    }
  }

  &__1-toque,
  &__2-toques,
  &__3-toques,
  &__media,
  &__comm,
  &__wordpress,
  &__accessibilite,
  &__startups {
    position: relative;
    z-index: 10;
    margin-bottom: 1px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      display: block;
      width: 100vw;
      transform: translateX(-50%);
      background-color: $white;
      //border-top: 1px solid $lightGray;
      z-index: -1;
    }
  }
}
