.startup-contest {
  section.homepage-title {
    .cta {
      position: unset;
      color: $white;
    }
  }

  section.page-push.page-push--center {
    width: 100vw;
    max-width: 100vw;
    transform: translateX(-50%);
    left: 50%;
  }

  section.page-push.page-push--center {
    .gallery {
      img {
        border: none !important;
        max-height: 100px;
        width: auto;
      }
    }
  }
}
