.homepage-title {
  @include clearfix();

  margin-top: 0;
  margin-bottom: 30px;

  @include breakpoint($medium) {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  @include breakpoint($large) {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  &__main {
    width: 100%;
    margin-bottom: 30px;

    @include breakpoint($medium) {
      float: left;
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__img {
    position: relative;
    margin-bottom: -30px;
    display: block;
    width: 100%;
    height: auto;
    z-index: -1;

    @include breakpoint($medium) {
      margin-bottom: -60px;
    }

    @include breakpoint($large) {
      margin-bottom: -90px;
    }
  }

  &__title {
    color: $red;
    font-size: 54px;
    line-height: 56px;
    padding-left: col-calc(1);
    padding-right: col-calc(1);
  }

  &__subtitle {
    @include subtitle();
  }

  &__date {
    width: 130px;
    height: 130px;
    border-radius: 130px;
    background-color: $hardBlue;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin-left: col-calc(2); // 1 colon in 100% but 2 in 50% :)
    font-size: 18px;
    line-height: 24px;
    margin-bottom: -20px;
  }

  &__front,
  &__back {
    font-size: 18px;
    line-height: 26px;
    padding: 20px;
    padding-bottom: 50px;
    width: col-calc(11);
    margin-left: 0;

    @include breakpoint($medium) {
      width: col-calc(5);
      padding: 30px;
      padding-bottom: 60px;
    }

    @include breakpoint($large) {
      padding: 40px;
      padding-bottom: 70px;
    }

    p {
      color: currentColor;
    }
  }

  &__back {
    background-color: $hardBlue;
    color: $lightBlue;
    margin-top: 60px;

    @include breakpoint($medium) {
      margin-left: 50%;
    }

    strong {
      color: $white;
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__front {
    position: relative;
    //padding: 40px;
    //padding-top: 50px;
    //padding-bottom: 70px;
    background-color: $lightBlue;
    color: $hardBlue;
    margin-top: -40px;
    margin-left: col-calc(1);

    @include breakpoint($medium) {
      margin-left: 50% + col-calc(1);
    }

    a {
      position: absolute;
      bottom: 40px;
      right: 40px;
      color: $hardBlue;
      font-size: 14px;
      line-height: 26px;
    }
  }
}
