@mixin videoContainer($number: $columns) {
  @include container($number);

  padding-bottom: $number * 9 / 16 * 1 / $columns * 100%;
}

.video-container {
  position: relative;
  height: 0;
  margin-top: 30px;
  margin-bottom: 30px;

  @include videoContainer(10);

  @include breakpoint($medium) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include breakpoint($large) {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
