@mixin card() {
  box-shadow: 1px 2px 4px rgba($hardBlue, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  background-color: $white;
  border: none;

  &:hover,
  &:focus {
    box-shadow: 1px 2px 10px rgba($hardBlue, 0.3);
    background-color: white;
  }
}

$encoding-reference: (
    ('<','%3C'),
    ('>','%3E'),
    ('"','\''),
    ('#','%23'),
    ('&','%26')
);

@function str-replace($search, $replace, $string) {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace($search, $replace, str-slice($string, $index + str-length($search)));
  }
  @return $string;
}

@function svg-encode($svg) {
  @each $char, $encoded in $encoding-reference {
    $svg: str-replace($char, $encoded, $svg);
  }
  @return 'data:image/svg+xml,' + $svg;
}
