@mixin focusable() {
  position: relative;
  padding: 15px (100% * 1 / $columns);

  a {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 10;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $lightBrown;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s $easeInOutQuart;
    }

    &:focus:not(:active) {
      &::after {
        opacity: 1;
      }
    }
  }
}
