.wp-block-kadence-pane {
  margin-bottom: 5px;

  .kt-accordion-panel {
    .kt-accordion-panel-inner {
      p {
        max-width: 100%;
        color: $lightBlack;

      }
    }
  }
}

.kt-blocks-accordion-header {
   .kt-blocks-accordion-icon-trigger {
    width: 36px;
    height: 36px;
    background: transparent url('../images/ico-menu-accordion.png') no-repeat 0 0 !important;
  }
}

.kt-accordion-panel-active, .kt-blocks-accordion-header:hover, .kt-blocks-accordion-header:focus {
  color: darken( $red , 10% ) !important;
}

.kt-accodion-icon-style-none{
    .kt-blocks-accordion-icon-trigger{
        display: block;
    }
}
