.alignwide {
  @include container(8);
}

.alignfull {
  position: relative;
  left: 50%;
  width: 100vw;
  max-width: none;
  transform: translateX(-50%);

  img {
    width: 100%;
    height: auto;
    max-width: none;
  }
}
