.wp-block-button{

  & + & {
    margin-top: 1rem;
  }

  &.is-style-outline .has-primary-background-color{
    @include button('ghost');
  }

  &.is-style-outline .has-secondary-background-color{
    @include button('ghost', $blue);
  }

  &.is-style-outline .has-tertiary-background-color{
    @include button('ghost', $green);
  }

  &__link{
    @include button();

    &.has-primary-background-color{
      @include button();
    }

    &.has-secondary-background-color{
      @include button('normal', $blue);
    }

    &.has-tertiary-background-color{
      @include button('normal', $green);
    }
  }
}
