.kt-gutter-wider{
    &>.wp-block-kadence-column{
        background: $white;
        @include breakpoint($large) {
            margin-right: 30px;
        }
        &.green{
            border-bottom: 10px solid $green;
        }
        &.red{
            border-bottom: 10px solid $red;
        }
        &.blue{
            border-bottom: 10px solid $blue;
        }
        &.black{
            border-bottom: 10px solid $black;
        }
    }
    .kt-inside-inner-col{
        p{
            font-size: 15px;
            color: $lightBlack;
            line-height: 24px;
            strong{
                font-size: 18px;
                color: $lightBlack;
                letter-spacing: 1px;
                line-height: 26px;
                text-transform: uppercase;
            }
            a{
                font-size: 16px;
                color: $hardBlue;
                text-transform: uppercase;
                padding-left: 24px;
                background: transparent url("../images/ico-menu-column.png") no-repeat left center;
            }
        }
    }
}
