$minHeightContentMobile: 98px;
$minHeightContentDesktop: 150px;

@mixin firstCoverBlock(){
  padding-top: $minHeightContentMobile + $heightTicketingButton * 2;

  @include breakpoint($medium) {
    padding-top: $minHeightContentDesktop;
  }

  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100.1vw;
    transform: translateX(-50%);
    height: $minHeightContentMobile + $heightTicketingButton * 2;
    background-color: $hardBlue;
    z-index: -1;

    @include breakpoint($medium){
      height: $minHeightContentDesktop;
    }
  }

  & > .wp-block-cover:first-child{
    position: relative;
    margin-top: $minHeightContentMobile * -1 - $heightTicketingButton * 2;
    margin-left: auto;
    width: 100.1vw;
    max-width: none;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    height: auto;
    //margin-bottom: 60px;
    margin-bottom: 0;
    padding-top: 210px;
    padding-bottom: 45px;
    border-bottom: 5px solid $red;

    @include breakpoint($medium){
      padding-top: 240px;
      padding-bottom: 120px;
      //margin-bottom: 90px;
      border-bottom-width: 10px;
      margin-top: $minHeightContentDesktop * -1;
    }

    p{
      margin-top: 30px;
      margin-bottom: 60px;
    }

    .wp-block-cover__inner-container{
      @include container(12);

      *{
        max-width: 100%;
      }
    }

    + * {
      //margin-top: 0;
    }
  }
}
