.wp-block-embed{
  margin: 0;
  @include container(8);

  &__wrapper{
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%; /* Format 16:9 */

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  &-youtube {
  }
}
