.wp-block-gallery{

  .blocks-gallery-item{
      margin: 0;

      img{
        margin: 0;
      }
  }

  @for $i from 0 through 5{

    &.columns-#{$i} .blocks-gallery-item{
      width: 100% * 1 / $i;
      padding: $spacer * 1.5;
      margin: 0;
    }
  }
}
