.wp-block-media-text {
  margin-top: 36px;
  margin-bottom: 36px;

  & &__content{
    padding-left: 0;
    padding-right: 0;

    @include breakpoint($medium){
      padding-left: 8%;
      padding-right: 8%;
    }
  }
}
