/* Emilie custom */

.ugb-accordion {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  position: relative;

  &__heading {
    box-shadow: 0 0 0 0 rgba(18,63,82,.035), 0 0 0 0px rgba(176,181,193,.2);
    background-color: $white;
    border-radius: 0px;
    overflow: hidden;
    padding: 17.5px 35px;
    margin: 0!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
}

.ugb-blog-posts {
  a {
    cursor: pointer;
    transition: color .3s;
    text-decoration: underline;
    color: darken($red, 10%);
    background-color: transparent;
  }

  & &__title a,
  & &__title a:hover {
    box-shadow: none;
    text-decoration: none;
    color: $hardBlue;
  }
}

.ugb-blog-posts__featured-image {
  border-radius: 0px;
}
