@import "mixins/clearfix";

form {
  @include clearfix();
}

label {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: $hardBlue;
  font-weight: normal;
  margin-bottom: 4px;
  font-family: $montserrat;
  float: left;
}

@mixin inputFocus() {
  &:focus {
    outline: 0;
    border-color: $blue;
  }
}

// Used by JobBoard
textarea,
.wp-editor-container,
input[type="text"],
input[type="email"] {
  @include inputFocus();

  float: left;
  display: block;
  width: 100%;
  max-width: $container;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid $white;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  font-family: $montserrat;
  box-shadow: 1px 2px 4px rgba($veryHardBlue, 0.2);
  padding: 12px;
  margin-bottom: 12px;
  transition: border 0.3s $easeInOutQuart;

  & + h2 {
    float: left;
    width: 100%;
    margin-top: 45px;
  }
}

input[type="file"] {
  margin-bottom: 12px;
}

// class used by JobBoard plugin
input + .description {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: $softBrown;
  margin-top: -12px;
  margin-bottom: 24px;
}

input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  display: block;
}

.wp-editor-container {
  padding: 0;
}
