@import "grid";
@import "typography/text";
@import "vars";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
}

body {
  @include p();
  font-family: $montserrat;
  background-color: $bodyBackground;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    display: block;
    height: 100vh;
    width: 100vw;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top;
    background-color: $hardBlue;
    transition: transform 0.3s $easeInOutQuart;
    z-index: 899;
  }

  &.body__open {
    overflow: hidden;

    &::before {
      transform: translateX(-50%) scaleY(1);
    }
  }

  // Print background-colors
  // https://stackoverflow.com/a/44312381/758728
  @media print {
    -webkit-print-color-adjust: exact; // Chrome, Safari
    color-adjust: exact; // Firefox
  }
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline-width: 5px;
  outline-style: solid;
  outline-color: $black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}
