@import "mixins/media";

$columns: 12 !default;
$spacer: 10px !default;
$medium: 767px !default;
$large: 1023px !default;
$xlarge: 1439px !default;
$container: 1200px !default;
$column: 1 / $columns * 100%;
$gutterSmall: 1.5 * $spacer !default;
$gutterMedium: 2 * $spacer !default;
$gutterLarge: 3 * $spacer !default;

@function col-calc($number) {
  @return $number / $columns * 100%;
}

@mixin container($number: $columns) {
  width: 100%;
  max-width: $number * $container / $columns;
  margin-left: auto;
  margin-right: auto;
}

@mixin row() {
  width: 100%;
  max-width: $container;
  margin-right: auto;
  margin-left: auto;
  padding-left: 100% * 1 / $columns;
  padding-right: 100% * 1 / $columns;

  @include breakpoint($medium) {
    padding-left: 50% * 1 / $columns;
    padding-right: 50% * 1 / $columns;
  }

  @include breakpoint($container + $container * 1 / 2 * 1 / $columns) {
    padding-left: 0;
    padding-right: 0;
  }

  &.center {
    text-align: center;
  }
}

@mixin nested-row() {
  //margin-right: - $gutterSmall / 2;
  //margin-left: - $gutterSmall / 2;

  @include breakpoint($medium) {
    margin-right: - $gutterMedium / 2;
    margin-left: - $gutterMedium / 2;
  }

  @include breakpoint($large) {
    margin-right: - $gutterLarge / 2;
    margin-left: - $gutterLarge / 2;
  }
}
