$white: #FFF;
$lightGray: #EEE;
$softGray: #D0D0D0;
$mediumGray: #A3A3A3;
$gray: #777;
$lightGray: #5f7b93;
$hardBlack: #4E4E4E;
$veryHardBlack: #292929;
$black: #111;
$lightBlack: #081825;
$wordpress: #32373C;

$lightRed: #F5E0EC;
$lightRedTwo: #FEF2F0;
$red: #ED0E68;
$lightGreen: #E5EFCB;
$green: #A5CD39;
$lightBlue: #11E1EA;
$blue: #00A6E2;
$hardBlue: #164061;
$veryHardBlue: #081825;
$yellow: #F4E500;
$lightBrown: #EBE8DD;
$brown: #EBE8DD;
$softBrown: #9B9B9B;
$hardBrown: #555450;
$vanilla: #FFFBC7;

$bodyBackground: #EEE;

$themesColors: (
  design: darken(#ED0E68,5%),
  divers: #444444,
  inspiration: darken(#F4E500,5%),
  keynote: #111111,
  marketing: darken(#A4E406,5%),
  tech: darken(#11E1EA,5%),
);

$goldNumber: 61.18%;
$columns: 12;
$medium: 767px;
$large: 1023px;
$xlarge: 1439px;
$container: 1200px;

$houseSlant: 'HouseSlant', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$nationalparkregular: 'national-park-regular';

$fa: 'Font Awesome 5 Brands';

$breakpoints: (phone: 520px, tablet: 768px, desktop: 1024px, large: 1300px);

@mixin placeholder() {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }
}
