@mixin a($color: $blue) {
  //position: relative;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: underline;
  color: $color;
  background-color: transparent;

  &:active,
  &:hover {
    @include a-hover();
  }

  //&:visited {
  //  //color: $color;
  //
  //  &:hover {
  //    @include a-hover();
  //  }
  //}
}

@mixin a-hover() {
  color: $red;
  outline: 0;
}

a {
  @include a();
}
