@mixin button($type: 'normal', $color: $red) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 0;
  padding: 15px 32px;
  transform: translateY(0.425em);
  appearance: none;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 18px;
  font-family: $nationalparkregular;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  text-decoration: none;
  border-radius: 50px;
  transition: border 0.3s $easeInOutQuart, background 0.3s $easeInOutQuart, color 0.3s $easeInOutQuart, box-shadow 0.4s $easeInOutQuart;

  @if ($type == 'normal') {
    background-color: darken($color, 2%);
    border-color: darken($color, 2%);
    color: $white;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px $bodyBackground, 0 0 0 4px rgba($color, .62);
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
      color: $white;
    }
  }

  @if ($type == 'ghost') {
    background: transparent;
    color: $color;
    border: 2px solid $color;
    box-shadow: 0 0 0 0 $bodyBackground, 0 0 0 0 $color;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px $bodyBackground, 0 0 0 4px rgba($color, .3);
      background-color: rgba($color, .1);
      color: darken($color, 10%);
      border-color: $color;
    }
  }

  @if ($type == 'link') {
    @include a();
    //@include h4();
    font-family: $montserrat;
    color: $white;
    padding: 0;
    //transition: border .4s $easeInOutQuart, color .4s $easeInOutQuart;
  }

  @if ($type == 'back') {
    position: relative;
    text-decoration: none;
    pointer-events: none;
    padding: 0;

      span{
        @include button('normal', $white);
        border-radius: 3px;
        transform: scaleX(0);
        text-transform: normal;
        z-index: -1;
        transform-origin: left;
        text-transform: none;
        padding: 10px 10px 10px 32px;
        height: 40px;
        font-size: 12px;
      }

      &:before {
        content: '';
        width: 50px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%,-50%);
        height: 50px;
        display: block;
        background: $white;
        border-radius: 50px;
        display: block;
        border: 0 1 3 0 rgba(black, .50);
        box-shadow: 0 2px 4px 0 rgba(black, .50);
        z-index: 10;
        pointer-events: auto;
      }

      &:after {
        content: '';
        display: block;
        border-color: $blue;
        border-style: solid;
        border-width: 0 1px 1px 0;
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-33%, -50%) rotate(135deg);
        z-index: 10;
      }

      &:hover span {
        transform: scaleX(1);
        color : $blue;
        box-shadow: none;
        background-color: $white;
        border: 0;
        transition: transform .3s $easeOutQuart;
      }
  }

  //&:hover,
  //&:focus,
  //&:active {
  //  @if ($type == 'normal') {
  //    background-color: darken($color, 10%);
  //    //border-color: darken($color, 10%);
  //    color: $white;
  //  }
  //}

  i {
    font-size: inherit;
    padding-right: 5px;
  }
}

.cta,
.button {
  @include button();
}
