@mixin hn() {
  font-family: $nationalparkregular;
  text-rendering: optimizeLegibility;
  color: $black;
}

// TODO: remove
@mixin hn-bis() {
  @include hn();
}

@mixin h1() {
  @include hn();
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: $veryHardBlue;

  // TODO: moy() mixin
  //@include breakpoint($medium) {
  //  font-size: 44px;
  //  line-height: 50px;
  //}

  @include breakpoint($large) {
    font-size: 48px;
    // TODO: rem-calc() mixin to convert px to rem
    line-height: 59px;
  }
}

@mixin h2() {
  @include hn();
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  color: $hardBlue;

  //@include breakpoint($medium) {
  //  font-size: 29px;
  //  line-height: 36px;
  //}

  @include breakpoint($large) {
    font-size: 36px;
    line-height: 44px;
  }
}

// TODO: remove
@mixin h2-bis() {
  @include hn-bis();

  font-size: 28px;
  line-height: 28px;

  @include breakpoint($medium) {
    font-size: 38px;
    line-height: 42px;
  }

  @include breakpoint($large) {
    font-size: 48px;
    line-height: 56px;
  }
}

@mixin h3() {
  @include hn();
  font-size: 18px;
  line-height: 26px;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: .8px;

  //@include breakpoint($medium) {
  //  font-size: 18px;
  //  line-height: 23px;
  //}

  @include breakpoint($medium) {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 24px;
  }
}

// TODO: remove
@mixin h3-bis() {
  @include hn-bis();

  font-size: 20px;
  line-height: 28px;

  @include breakpoint($medium) {
    font-size: 22px;
    line-height: 29px;
  }

  @include breakpoint($large) {
    font-size: 24px;
    line-height: 30px;
  }
}

@mixin h4() {
  @include hn();
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $red;
}

@mixin h5() {
  @include hn();
  font-size: 18px;
  line-height: 24px;
  color: $veryHardBlue;
}

@mixin h6() {
  @include hn();
  font-size: 13px;
  line-height: 17px;
  color: $red;
}

//.h2-bis {
//  @include h2-bis();
//  color: $red;
//}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6
.h6 {
  @include hn();
}

h1,
.h1 {
  @include h1();
  margin-bottom: 30px;
  margin-top: 30px;

  @include breakpoint($medium){
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

h2,
.h2 {
  @include h2();
  margin-top: 15px;
  margin-bottom: 30px;
  color: $hardBlue;

  @include breakpoint($medium){
    margin-top: 45px;
    margin-bottom: 37px;
  }
}

h3,
.h3{
  @include h3();
  margin-top: 15px;
  margin-bottom: 15px;

  @include breakpoint($medium){
    margin-top: 37px;
    margin-bottom: 30px;
  }
}

h4,
.h4{
  @include h4();
  margin-top: 15px;
  margin-bottom: 7px;

  @include breakpoint($medium){
    margin-top: 30px;
    margin-bottom: 22px;
  }
}

@mixin h-margin(){
  margin-top: 7px;
  margin-bottom: 7px;

  @include breakpoint($medium){
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

h5,
.h5{
  @include h5();
  @include h-margin();
}

h6,
.h6 {
  @include h6();
  @include h-margin()
}
