@import 'text';

ul,
ol {
  @include p();
  //margin: $spacer 0;
  padding-left: $gutterSmall;

  @include breakpoint($medium) {
    padding-left: $gutterMedium;
  }

  @include breakpoint($large) {
    padding-left: $gutterLarge;
  }
}
