img {
  max-width: 100%;
  height: auto;

  &.alignleft {
    float: left;
  }

  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &.alignright {
    float: right;
  }
}

.wp-caption {
  width: 100%;
}

.wp-block-embed-youtube{
  margin: 0;
  @include breakpoint($medium) {
    margin: 1em 40px;
  }
}
iframe {
  display: block;
  margin-top: 36px;
  margin-bottom: 36px;
  max-width: 100%;
  @include breakpoint($medium) {
    max-width: none;
  }
}