//$radius: 20px !default;

@mixin cite() {
  display: block;
  margin-top: $spacer;
  text-align: left;
  color: $mediumGray;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
}

@mixin blockquote-p($color: $green) {
  font-size: 20px;
  line-height: 24px;
  color: $color;
  max-width: 100%;

  @include breakpoint($medium) {
    font-size: 22px;
    line-height: 27px;
  }

  @include breakpoint($large) {
    font-size: 24px;
    line-height: 30px;
  }
}

@mixin blockquote($color: $green) {
  @include clearfix();
  @include container(8);

  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  color: $color;
  background-color: transparent;
  border-radius: 0;
  font-family: $houseSlant;
  text-align: center;

  @include breakpoint($medium) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include breakpoint($large) {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  &::before {
    //content:'';
    width: 52px;
    height: 47px;
    display: block;
    background-color: $color;
    //noinspection CssUnknownTarget,CssUnknownTarget
    background: transparent url('../images/blockquote.svg');
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }

  p {
    @include blockquote-p($color);
  }

  cite {
    &::before {
      content: "— "
    }
  }
}

blockquote {
  @include blockquote();
}

cite {
  //@include cite();
}
