@mixin p() {
  color: $veryHardBlue;
  //font-size: 15px;
  //line-height: 21px;
  font-size: 18px;
  line-height: 30px;

  @include breakpoint($medium) {
    //font-size: 16px;
    //line-height: 22px;
    font-size: 18px;
    line-height: 30px;
  }
}

p,
.p {
  @include p();

  &.has-primary-background-color{
    background-color: $red;
  }

  &.has-secondary-background-color{
    background-color: $blue;
  }

  &.has-tertiary-background-color{
    background-color: $green;
  }
}

br {
  margin-bottom: 0;
}

// Enable small caps if available & fix letter spacing
abbr {
  letter-spacing: 0.1em;
}

// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
abbr[title] {
  border-bottom: 1px dotted;
}

// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
b,
strong {
  font-weight: bold;
}

// Address styling not present in Safari and Chrome.
dfn {
  font-style: italic;
}

// Prevent `em` and `i` affecting `line-height` in all browsers.
em,
i {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
}

// Address styling not present in IE 8/9.
mark {
  color: $black;
  background: $vanilla;
}

small {
  font-size: 70%;

  //   @include line-height(.5);

  //   @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  //     $leading: $leading-desktop;
  //     $leading-rem: $leading-rem-desktop;
  // @import '../mixins/line-height';
  // @include line-height(.5);
  //   }

}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  display: block;
  height: 1px;
  width: 100%;
  border: none;
  background-color: $softGray;
  margin-top: 30px;
  margin-bottom: 30px;
}
